﻿@using MonitOR.Models
@model SensorDataViewModel
@using System.Web.Mvc

@{
    ViewBag.Title = "ViewData";
}

@using (Html.BeginForm("ViewData", "Data", FormMethod.Get, new { @id = "ViewDataForm" }))
{
    <div class="row" style="margin-top:20px;">
        <div class="col">
            <label>Operating Room</label>
            @Html.DropDownListFor(m => m.SelectedOperatingRoomID, @Model.OperatingRooms, "Select OR", new { @class = "browser-default" })
        </div>
        <div class="col">
            <label>Sensor</label>
            @Html.DropDownListFor(m => m.SelectedSensorID, @Model.Sensors, "Select Sensor", new { @class = "browser-default", @disabled = "disabled" })
        </div>
        <div class="col">
            <label>From</label>
            <div>
                <input type="date" class="datepicker" name="fromdate" style="width:120px;" placeholder="MM/DD/YYYY">
                <input type="time" name="fromtime" style="width:120px;">
            </div>
        </div>
        <div class="col">
            <label>To</label>
            <div>
                <input type="date" class="datepicker" name="todate" style="width:120px;" placeholder="MM/DD/YYYY">
                <input type="time" name="totime" style="width:120px;">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a id="btnSubmit" class="waves-effect waves-light btn green darken-3">Submit</a>
        </div>
    </div>

    <div id="failModal" class="modal" style="width: 40%">
        <div class="modal-content">
            <h4>Failure to Complete Action</h4>
            <p>You must fill out all values!</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        var firstOption = $($("#SelectedOperatingRoomID").children()[0]);
        firstOption.attr("disabled", "disabled");
        $("#SelectedOperatingRoomID").material_select();

        var firstOption = $($("#SelectedSensorID").children()[0]);
        firstOption.attr("disabled", "disabled");
        $("#SelectedSensorID").material_select();

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year
            format: 'mm/dd/yyyy',
        });

        $('#btnSubmit').click(function (e) {
            var orID = $('#SelectedOperatingRoomID').prop('selectedIndex');
            var sensorID = $('#SelectedSensorID').prop("selectedIndex");
            var fromDate = $("input[name=fromdate]").val();
            var fromTime = $("input[name=fromtime]").val();
            var toDate = $("input[name=todate]").val();
            var toTime = $("input[name=totime]").val();

            if (orID == 0 ||
                sensorID == 0 ||
                fromDate === "" ||
                fromTime === "" ||
                toDate === "" ||
                toTime === "")
            {
                $("#failModal").openModal();
                e.preventDefault();
                return false;
            }
            var url = encodeURI('/Data/DownloadData?operatingRoomID='+orID+'&sensorid='+sensorID+"&fromDate="+fromDate+"&fromTime="+fromTime+"&toDate="+toDate+"&toTime="+toTime)
            window.location = url;
            //$.ajax({
            //    url: encodeURI('/Data/DownloadData?operatingRoomID='+orID+'&sensorid='+sensorID+"&fromDate="+fromDate+"&fromTime="+),
            //    type: "GET"
            //});

            return true;
        });

        $("#SelectedOperatingRoomID").change(function () {
            var firstOption = $($(this).children()[0]);
            if (firstOption.prop("selected") === "true")
            {
                $("#SelectedSensorID").attr("disabled", "disabled");
            }
            else {
                var id = $(this).children()[$(this).prop("selectedIndex")].value;
                $.ajax({
                    url: "/Sensor/GetSensors?operatingRoomId=" + id,
                    dataType: "json"
                }).success(function (data) {
                    $("#SelectedSensorID").attr("disabled", null);
                    var model = $.parseJSON(data);
                    var sensors = model.Sensors;
                    $("#SelectedSensorID").find("option[value!='']").remove();
                    for (var index = 0; index < sensors.length; index++)
                    {
                        var option = $("<option/>", { value: sensors[index].Value });
                        option.text(sensors[index].Text);
                        $("#SelectedSensorID").append(option);
                    }
                }).error(function () {
                    $("#SelectedSensorID").attr("disabled", "disabled");
                });
            }
        });
    });


</script>