﻿@model MonitOR.Models.SensorDashboardViewModel
<div class="sensorDashboard" data-operatingroomid="@Model.operatingRoomID" data-sensorid="@Model.sensorID">
    <div class="sensor-card-title">
        <span style="font-size: 1rem;"><b>@Model.label</b></span>
        <span style="float: right;"><img src="/Images/@(Model.active ? "On" : "Off")line-Icon.png" style="width: 16px;height: 16px;margin-right: 2px;vertical-align: middle;">@(Model.active ? "On" : "Off")line</span>
    </div>
    <div class="sensor-card" style="margin-bottom:20px;">
        <table class="sensor-card-table">
            <tr>
                <td>Opened Today:</td>
                <td>
                    <div class="progress" style="margin: 0;height: 20px;background-color: #8C8C8C;border: black 1px solid;">
                        <div class="determinate" style="width: @Math.Round(Model.percentOpen)%;background-color: green;"></div>
                        <div style="position: relative; text-align: center; width: 100%;color: white; top: -1px;">@Math.Round(Model.percentOpen)%</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Total Openings:</td>
                <td>@Model.openEvents</td>
            </tr>
            <tr>
                <td>Last Opened:</td>
                <td>@Model.mostRecentEventTime</td>
            </tr>
            <tr>
                <td>Last Reset:</td>
                <td>@Model.lastReset</td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: right;"><button onclick="refresh(this);" style="width: 36px; padding: 0 0 0 8px;" id="resetButton" class="waves-effect waves-light btn green darken-3"><i class="material-icons left">replay</i></button></td>
            </tr>
        </table>
    </div>
</div>