﻿@model List<MonitOR.Models.SensorDashboardViewModel>

@{
    ViewBag.Title = "MonitOR Dashboard";
}

<div>
    <div>
        @{

            MonitOR.Models.SensorDashboardViewModel lastSensor = null;
        }
        @foreach (var sensor in Model)
        {
            if (lastSensor == null || lastSensor.operatingRoomID != sensor.operatingRoomID)
            {
                if (lastSensor != null)
                {
                    @:</div>
                }
                lastSensor = sensor;
                @:<div style="margin-top:30px;"><h4><b>Operating Room @sensor.operatingRoomID</b></h4></div>
                @:<div class="row" style="margin-bottom:30px;">
            }
            <div class="col s4">@Html.Partial("DashboardPartial", (MonitOR.Models.SensorDashboardViewModel)sensor)</div>
        }
        @if(Model.Count > 0)
        {
            @:</div>
        }
    </div>
</div>

@section scripts
{
    <script>
        var frames;
        $(document).ready(function () {
            timeoutId = window.setInterval(updateView, 5000);
        });
        function updateView() {
            frames = $("div.sensorDashboard")
            for (var i = 0; i < frames.length ; i++) {
                $.ajax({
                    url: '/Home/DashboardPartial?operatingRoomID=' + $(frames[i]).data('operatingroomid') + '&sensorid=' + $(frames[i]).data('sensorid'),
                    type: "GET",
                    success: function (result) {
                        var resultOR = $(result).data('operatingroomid');
                        var resultSensor = $(result).data('sensorid');
                        $('[data-operatingroomid='+resultOR+'][data-sensorid='+resultSensor+']').html(result);
                    }
                });
            }
        }

        function refresh(button) {
            var block = $(button).parents('div.sensorDashboard');
            var orID = block.data('operatingroomid');
            var sensorID = block.data('sensorid');
            $.ajax({
                url: '/Sensor/ResetSensor?operatingRoomID=' + orID + '&sensorid=' + sensorID,
                type: "GET"
            });
            $($(button).parents('td')[0]).append('<p>Resetting Sensor...</p>');
        }

    </script>
}
