﻿@using MonitOR.Models
@model SensorViewModel
@using System.Web.Mvc

@{
    ViewBag.Title = "Add Sensor";
}

<div class="row" style="margin-top: 50px">
    <div class="col s5">
        <div>
            @Html.ValidationSummary()
        </div>
        @using (Html.BeginForm())
        {

            <div class="input-field">
                <input type="hidden" name="operatingRoomID" value="@Model.operatingRoomID" />
                @Html.TextBoxFor(model => model.operatingRoomID, new {@id="operatingRoomID", @class= "validate", @disabled = "disabled" })
                <label for="operatingRoomID">Operating Room ID</label>
            </div>
            <div class="input-field">
                @Html.TextBox("sensorID", (@Model.sensorID == 0 ? string.Empty : @Model.sensorID.ToString()), new { @id = "sensorID", @class = "validate" })
                <label for="sensorID">Sensor ID</label>
            </div>
            <div class="input-field">
                @Html.TextBoxFor(model => model.label, new {@id="sensorLabel", @class= "validate" })
                <label for="sensorLabel">Sensor Label</label>
            </div>
            
            <div class="form-group">
                <input type="submit" class="btn btn-primary darken-3 green" value="Add Sensor" />
            </div>
        }
    </div>
</div>

