﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MonitOR</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.RenderFormat("<link href=\"{0}\" type=\"text/css\" rel=\"stylesheet\" media=\"screen,projection\">", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">MonitOR</a>
            <ul class="nav navbar-nav">
                @{
                    string lastSegment = Request.Url.Segments.Last();
                    if (lastSegment.Equals("/"))
                    {
                        lastSegment = "Index";                        
                    }
                }
                <li class="@(lastSegment.Equals("Index") ? "active" : string.Empty)">@Html.ActionLink("Dashboard", "Index", "Home")</li>
                <li class="@(lastSegment.Equals("OperatingRooms") ? "active" : string.Empty)">@Html.ActionLink("Operating Rooms", "OperatingRooms", "OperatingRoom")</li>
                <li class="@(lastSegment.Equals("ViewData") ? "active" : string.Empty)">@Html.ActionLink("View Sensor Data", "ViewData", "Data")</li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MonitOR</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/monitor")
    @RenderSection("scripts", required: false)
</body>
</html>
