﻿body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

nav {
    background-color: green;
}

.collection .collection-item.active{
    background-color: green;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sensor-card-title {
    border: black 1px solid;
    padding:3px;
}

.sensor-card {
    border:1px solid black;
    padding:10px;
}

.sensor-card-table td {
    padding: 1px;
}