﻿@using MonitOR.Models
@model OperatingRoomViewModel
@using System.Web.Mvc

@{
    ViewBag.Title = "Add Operating Room";
}

<div class="row" style="margin-top: 50px">
    <div class="col s5">
        <div>
            @Html.ValidationSummary()
        </div>
        @using (Html.BeginForm())
        {

            <div class="input-field">
                @Html.TextBox("operatingRoomID", (@Model.operatingRoomID == 0 ? string.Empty : @Model.operatingRoomID.ToString()), new { @id = "operatingRoomID", @class = "validate" })
                <label for="operatingRoomID">Operating Room ID</label>
            </div>
            <div class="input-field">
                @Html.TextBoxFor(model => model.description, new { @id = "operatingRoomDescription", @class = "validate" })
                <label for="operatingRoomDescription">Description</label>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary darken-3 green" value="Add Operating Room" />
            </div>
        }
    </div>
</div>








