﻿@{
    ViewBag.Title = "Operating Rooms";
    var model = (MonitOR.Models.OperatingRoomsViewModel)Model;
}

<div class="row" style="margin-top: 50px">
    <div class="col s5">
        <div style="height:350px;">
            <div class="collection" style="max-height: 300px; overflow-y: auto;">
                @foreach (var operatingRoom in model.OperatingRooms)
                {
                    <a href="#!" data-id="@operatingRoom.operatingRoomID" class="collection-item">@operatingRoom.description</a>
                }
            </div>
        </div>
        <div style="text-align: right">
            <a href="/OperatingRoom/Add" class="waves-effect waves-light btn green darken-3"><i class="material-icons left">add</i>Add Room</a>
            <a id="deleteButton" class="waves-effect waves-light btn green darken-3"><i class="material-icons left">delete</i>Delete Room</a>
        </div>
    </div>
    <div id="operatingRoomDetail" class="col s7"></div>
</div>

<div id="deleteModal" class="modal" style="width: 40%">
    <div class="modal-content">
        <h4>Delete Operating Room</h4>
        <p>Are you sure you to delete the selected operating room?</p>
    </div>
    <div class="modal-footer">
        <a id="deleteModalNo" href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
        <a id="deleteModalYes" href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
    </div>
</div>



<!-- Nick was here! -->



<script>
    $(".collection-item").click(function () {
        var id = $(this).data("id");
        $.ajax({
            url: "/OperatingRoom/OperatingRoomDetail?id=" + id,
            dataType: "html"
        }).done(function (data) {
            $("#operatingRoomDetail").html(data);
        });
    });

    $("#deleteModalYes").click(function()
    {
        var activeOperatingRoom = $(".collection-item.active");
        var id = activeOperatingRoom.data("id");
        $.ajax({
            url: "/OperatingRoom/Delete?id=" + id,
        }).success(function (data) {
            activeOperatingRoom.remove();
            $("#operatingRoomDetail").html("");
        });
    })

    $("#deleteButton").click(function () {
        var activeOperatingRoom = $(".collection-item.active");
        var id = activeOperatingRoom.data("id");
        $("#deleteModal").openModal();
    });
</script>