﻿@{
    Layout = null;
    var model = (MonitOR.Models.SensorsViewModel)Model;
    ViewBag.Title = "Operating Room " + model.OperatingRoom.operatingRoomID;
}

<div style="height:300px; overflow-y: auto;">
    <table class="highlight">
        <thead>
            <tr>
                <th data-field="label">Sensor Name</th>
                <th data-field="lastOpen">Last Reported Opening</th>
                <th data-field="status">Status</th>
                <th data-field="delete"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sensor in model.Sensors)
            {
                <tr data-id="@sensor.sensorID">
                    <td>@sensor.label</td>
                    <td>@(sensor.mostRecentEventTime != null ? sensor.mostRecentEventTime.Value.ToString() : "N/A")</td>
                    <td><span><img src="/Images/@(sensor.active ? "On" : "Off")line-Icon.png" style="width: 16px;height: 16px;margin-right: 2px;vertical-align: middle;">@(sensor.active ? "On" : "Off")line</span></td>
                    <td><a class="btn-floating btn-block green deleteSensorButton darken-3"><i class="material-icons">delete</i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div style="text-align: right; margin-top: 30px;">
    <a href="/Sensor/Add?orID=@(model.OperatingRoom.operatingRoomID)" class="waves-effect waves-light btn green darken-3"><i class="material-icons left">add</i>Add Sensor</a>
</div>

<div id="deleteSensorModal" class="modal" style="width: 40%">
    <div class="modal-content">
        <h4>Delete Sensor</h4>
        <p>Are you sure you to delete the selected sensor?</p>
    </div>
    <div class="modal-footer">
        <a id="deleteSensorModalNo" href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
        <a id="deleteSensorModalYes" href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
    </div>
</div>




<script>
    var activeSensor = null;

    $("#deleteSensorModalYes").click(function () {
        var id = activeSensor.data("id");
        $.ajax({
            method: "post",
            url: "/Sensor/Remove?orID=@(model.OperatingRoom.operatingRoomID)&sensorID=" + id,
        }).success(function (data) {
            activeSensor.remove();
        });
    })

    $(".deleteSensorButton").click(function () {
        activeSensor = $(this).closest("tr");
        var id = activeSensor.data("id");
        $("#deleteSensorModal").openModal();
    });
</script>